$blue-gray: #798194;
$text-dark: #001f6d;
$primary: #0047ff;
$primary-light: #f2f6ff;
$white: #ffffff;

.banner-search {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-center-section {
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0 160px;
  display: flex;
}

.section-subtitle {
  color: $text-dark;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 400;
}

.section-subtitle h6 {
  color: $text-dark;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-center {
  text-align: center;
  color: $text-dark;
  margin: 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 76px;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
}

.home-banner-description {
  color: $blue-gray;
  text-align: center;
  margin: 30px 0 0;
  font-size: 18px;
}

.home-banner-description p {
  color: $blue-gray;
  margin: 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.buttons-wrapper {
  grid-column-gap: 28px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
}

.primary-button,
.secondary-button {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 14px 30px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 150%;
  transition: all 0.3s;
}

.primary-button {
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  color: $white;
}

.secondary-button {
  background-color: $white;
  color: $text-dark;
  border: 1px solid $primary;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
}

.w-inline-block a {
  color: $primary;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  transition: color 0.3s;
}
.section {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.base-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.title-wrapper {
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.title-wrapper h2 {
  color: $text-dark;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 110%;
}
.primary-text {
  color: $primary;
}
.paragraph-wrapper {
  margin-top: 30px;
}
.btn-wrap {
  justify-content: center;
  margin-top: 50px;
  display: flex;
}
.bg-ellipse {
  z-index: -1;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -10px;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.paragraph-large {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: $blue-gray;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
