@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;

  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.left {
  display: flex;
  align-items: center;
}
.text-left {
  margin-left: 10px;
}
.text-left a {
  color: #fff;
}

.speaker {
  padding: 10px 20px;
  background-color: #2b4a9e;
}
.right {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  float: left;
  width: 75px;
  height: auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.nav-list li {
  margin: 0;
}

.nav-list a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s;
}

.items :hover {
  color: #68a6e4;
}
.nav-icon {
  margin-left: 8px;
  max-width: 10%;
}

.items,
.dropdown-parent {
  margin-right: 25px;
}

.dropdown-parent:hover .dropdown {
  display: block;
  transition: display 0s, opacity 5s ease-out; /* Display immediately, fade out over 0.5s */
  opacity: 1;
}
.dropdown-parent :hover {
  color: #68a6e4;
  border-bottom: 2px solid #1976d2;
}
.dropdown {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-top: 25px;
  width: 200px;
  /* Set auto height */
  max-height: none;
  /* or specific height if needed */
}

.dropdown li {
  margin: 10px 0;
  transition: transform 0.3s ease; /* Smooth transition for text movement */
}

.dropdown-parent:hover .dropdown li {
  transform: translateX(-10px); /* Move text to the left on hover */
}
.dropdown-parent:hover,
.dropdown:hover {
  color: #3498db; /* Blue color on hover for text */
}
.dropdown li a {
  display: block;
  text-decoration: none;
  color: #626161;
}

.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.number {
  margin-right: 50px;
}
.number p {
  padding-left: 25px;
}
.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loop {
  border-left: 1px solid lightgrey;
  padding: 25px;
  color: #000000;
}
.search {
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  border-radius: 5px;
  color: #fff;
  padding: 6px 18px;
  text-align: center;
}
.home-info {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/pexels.png") left no-repeat,
    url("../src/assets/pexels2.png") right no-repeat;
  background-size: 200px 500px, 800px 450px;
}

.home-text {
  display: grid;
  margin-right: 150px;
}
.home-text h4 {
  color: #355dcd;
}
.home-text h1 {
  font-weight: 600;
  font-size: 50px;
}
.home-text p {
  color: rgb(88, 86, 86);
}
.home-text h2 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 50px;
}
.main-pic {
  padding-top: 50px;
}
.main-pic img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.home-btn {
  margin-top: 125px;
  display: flex;
  align-items: center;
}
.home-btn a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #2b2929;
  border-radius: 5px;
  color: #fff;
  margin-right: 40px;
}
.play {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  margin-right: 25px;
}
.home-btn p {
  color: #355dcd;
}
.service {
  height: 90vh;
  margin: 0 100px 0 100px;
  border-radius: 10px;
  background: url("../src/assets/shap1.png") bottom left no-repeat,
    linear-gradient(to right, #3c8ce7, #00eaff);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: balance;
}

.service-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 1000px;
}

.service-main {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}
.service-info {
  color: white;
  width: 1000px;
}

.service-info h3 {
  font-weight: 400;
  font-size: 1.4em;
}

.service-info p {
  margin-top: 20px;
  font-size: 0.9rem;
}

.service-info1 {
  margin-left: 200px;
  color: white;
}

.sub-info {
  margin-top: 20px;
  color: #d4defd;
}

.service-button {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 0.9rem;
  font-weight: 200;
}
.service-button a {
  text-decoration: none;
  color: #fff;
}

.attributes {
  display: flex;
  max-width: 1000px;
  margin-top: 60px;
  color: white;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
span.num {
  width: 70px;
  font-size: 1.8em;
  font-weight: 600;
}
.ad {
  font-size: 2em;
  font-weight: 600;
}

.sub p {
  margin: 0 10px;
  font-size: 0.8rem;
  font-weight: 200;
}

@media (max-width: 768px) {
  /* Adjust for smaller screens */
  .service {
    flex-direction: column-reverse; /* Reverse layout for better flow */
  }

  .attributes {
    margin-bottom: 50px; /* Add bottom margin for spacing */
  }
}

.solux {
  background: url("../src/assets/shap1.png") bottom left no-repeat,
    url("../src/assets/shap2.png") top right no-repeat;
}

.solution-box {
  display: grid;
  justify-content: center;
  height: 90vh;
}

.solution-cart1,
.solution-cart2 {
  display: flex;
}

.solution-info {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: -300px;
  margin-top: 30px;
}

.solution-info h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #235cfa;
  margin-bottom: 25px;
}

.solution-info p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 25px;
}

.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-sub .sub-head h6 {
  font-size: 1.3rem;
  font-weight: 510;
}

.solution-sub .sub-head p {
  color: rgb(4, 159, 249);
}

.solution-sub {
  width: 300px;
  height: 225px;
  margin: 10px;
  padding: 25px;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 5px;
  background-color: white;
}

.solution-sub img {
  max-height: 50px;
  width: 50px;
  padding: 25px 0px;
}

.solution-sub button {
  color: #5a5b5e;
  background: #ebedf5;
  margin: 0px 5px;
  padding: 5px 20px;
  border-radius: 5px;
  border: #aa9d9d;
  font-size: 0.7rem;
}

.solution-sub p {
  font-size: 0.8rem;
  color: #676769;
}

.solution-btn {
  margin-top: 30px;
  display: flex;
}

.solution-sub:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 1px 1px 50px rgba(143, 143, 143, 0.5);
}

.sup-abs {
  display: flex;
  height: 100vh;
}

.conversion-left {
  margin: 0 auto;
}
.ch2 {
  display: block;
  position: absolute;
  left: 0;
  width: 50%;
  height: 65%;
  margin-top: 90px;
  animation-name: infiniteudown;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
@keyframes infiniteudown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ch3 {
  width: 80%;
  height: auto;
  margin-right: 100px;
  animation-name: infiniteupdown;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ch1 {
  position: absolute;

  width: 50%;
  height: 10 0%;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.conversion-right {
  display: grid;
  justify-content: center;
  align-items: center;
}
.conversion-sub h1 {
  font-weight: 600;
}
.conversion-right h4 {
  color: #355dcd;
  font-weight: 600;
}
.conversion-sub h2 {
  font-weight: 300;
  font-size: 2rem;
}
.check-icon {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  font-size: 3px;
  border-radius: 50%;
  padding: 5px;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.conversion-right p {
  color: #524f4f;
}
.btnco {
  padding: 15px 25px;
  margin-right: 300px;
  color: white;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s;
  background-size: 200% auto;
  margin-bottom: 10px;
  text-decoration: none;
}

.btnco:hover {
  background-position: right center;
}

.btng {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}

.btnco.btng a {
  text-decoration: none;
  color: white;
}

.portfolio-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../src/assets/shap_l.png") bottom left no-repeat,
    #e3e8f5 url("../src/assets/shap_r.png") top right no-repeat;
  background-size: auto, 350px 250px;
}

.portfolio-text {
  margin-left: 200px;
  padding: 35px;
}
.portfolio-text h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4573f1;
}
.portfolio-text p {
  font-size: 25px;
  font-weight: 400;
}
.portfolio-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio-child img {
  width: 1050px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
.portfolio-subtext {
  display: grid;
  background-color: rgb(253, 253, 253);
  padding: 25px;
  border-radius: 0px 0px 5px 5px;
}
.portfolio-subtext h3:hover {
  color: #0580fc;
}
.portfolio-subtext h6 {
  color: #0580fc;
  margin-top: 5px;
  font-weight: 500;
  font-size: 0.7rem;
}
.portfolio-subtext p {
  padding: 25px 0px;
  color: #39393b;
  font-size: 0.85rem;
}
.chev {
  margin: 50px;
  color: #2b4a9e;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
}
.port-btn {
  display: flex;
}
.port-btn button {
  margin-right: 5px;
  font-size: 0.75rem;
  padding: 0px 10px;
  color: #5a5b5e;
  background: #ebedf5;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 5px;
}
.profil-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 53vh;
  margin: 100px 0px;
}
.profil-text {
  display: grid;
  justify-content: center;
  align-items: center;
}
.profil-text h4 {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: #235cfa;
}
.profil-text p {
  font-size: 2rem;
}
.profil-cart {
  padding: 35px;
}
.profil-pics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil-pics img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.profil-cart-text {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.profil-cart-text p {
  color: #959699;
}

.icon-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.profil-icon {
  color: #6c6c6c;
  padding: 5px;
  border-radius: 50%;
  background: rgb(234, 234, 232);
}
.profil-icon:hover {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}
.profil-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil-btn button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.black {
  background: #000000;
}
.profil-cart:hover {
  color: #1976d2;
}
.blue {
  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.footer-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../src/assets/foot_l.png") bottom left no-repeat,
    #040404 url("../src/assets/foot_r.png") top right no-repeat;
  background-size: 250px 200px, 250px 150px;
  font-size: 0.8rem;
}
.main-foot1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact img {
  margin-bottom: 25px;
  width: 75px;
  height: auto;
}
.footer-contact {
  display: grid;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  color: white;
  margin: 50px;
}
.footer-services {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  color: white;
  margin: 50px;
}
.footer-info {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px;

  height: 300px;
  color: white;
}
.footer-newsl {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-left: 25px;
  color: white;
  margin-bottom: 100px;
}
.main-foot2 {
  text-align: center;
  color: white;
  margin: 0px 150px;
  margin-top: 50px;
  padding: 20px;
  border-top: 0.01em solid rgb(66, 65, 65);
}
.main-foot2 a {
  color: white;
}
.footer-main h5 {
  font-size: 1rem;
  font-weight: 800;
}
.footer-main h6 {
  font-size: 1rem;
  font-weight: 600;
}
.footer-main p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6b6a6a;
}
.foot-icon {
  padding: 10px;
  border-radius: 50%;
  background: #2b2929;
  margin: 5px;
  color: #524f4f;
}
.foot-cnt-sub {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.sub-ctn-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.pro-icon {
  padding-right: 10px;
  color: #0892fb;
}
.footer-newsl a {
  color: #666666;
}
.subscribe-container input {
  padding: 10px 25px;
  background: #323131;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid transparent;
}
.subscribe-input::placeholder {
  color: white;
}

.subscribe {
  padding: 10px 15px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.6s;
  background-size: 200% auto;
}
.subscribe:hover {
  background-position: right center;
}

.btnk {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}

.subscribe.btnk a {
  text-decoration: none;
  color: white;
}
.contact-general {
  text-align: center;
  background: url("../src/assets/contact_globe-2.svg") bottom left no-repeat,
    linear-gradient(to right, #3c8ce7, #00eaff);
  height: 70vh;
  padding-top: 95px;
  color: white;
}
.contact-general h6 {
  font-size: 0.8rem;
  font-weight: 600;
}
.contacto p {
  font-size: 1.8rem;
}
.contact-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.contact-info {
  display: grid;
  text-align: left;
  color: white;
}
.contact-info a {
  color: white;
}
.area {
  display: grid;
  justify-content: flex-start;
}
.contact-info1 {
  margin-bottom: 25px;
}
.contact-link {
  margin-top: 75px;
}
.contact-info p {
  padding-top: 25px;
}
.contact-area form {
  display: flex;
  flex-direction: column;
}
.area1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.contact-name {
  padding: 10px 50px 10px 10px;
  border: none;
  border-radius: 5px;
}
.contact-email {
  padding: 10px 50px 10px 10px;
  border: none;
  border-radius: 5px;
}

.contact-inquiry {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}

textarea::placeholder {
  text-align: left;
  padding: 10px 15px;
}
textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.send {
  background-color: #040404;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  margin-right: 300px;
  margin-top: 10px;
}
.popup {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup button {
  margin-top: 10px;
  cursor: pointer;
}
.check-boxes {
  margin-right: 10px;
}
.banner-bkg-img {
  position: relative;
  height: 450px;
  width: 100%;
  background-image: url(../src/Pages/About/Asssets_About/boats.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*.banner-bkg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 48, 0.347); } */

.banner-bkg-img h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 0 0 80px 160px;
  font-size: 45px;
  font-weight: 700;
  line-height: 44px;
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.aboutinfo {
  display: grid;
  color: #333333;
  background-color: transparent;
  padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  margin: 20px 140px 0;
}

@media screen and (min-width: 600px) {
  .aboutinfo {
    padding-top: 56px;
    padding-right: 32px;
    padding-bottom: 56px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 320px) {
  .aboutinfo {
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
  }
}

.aboutinfo h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  color: currentColor;
  letter-spacing: 0;
  margin: 0;
  width: 100%;
  text-wrap: balance;
  padding-bottom: 30px;
}
.aboutinfo p {
  font-size: small;
}
.about-info-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-top: 45px;
  padding-bottom: 10px;
  border-bottom: 0.01em solid rgb(192, 191, 191);
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 20px;
}
.about-info-dropdown h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}
#about1 {
  background: #23395d;
}
.dic-img {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  padding-top: 80px;
}
.jkrc img {
  object-fit: cover;
  width: 100%;
}

.dic-img h3 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 20px;
}
.dic-img h6 {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
  font-style: italic;
}
.dic-img p {
  padding-top: 15px;
}

.fil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3eded;
  cursor: pointer;
}
#about-group {
  background: #fff;
  padding: 10px 0px 80px;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 16px;
}
#about-group p {
  margin: 16px 0;
}

#about-group h4 {
  font-size: 26px;
  margin: 26px 0;
}
#about-group a {
  color: #000000;
  display: block;
}
article.about-x {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
article.about-x div {
  width: 49.4%;
  display: inline-block;
}
.abt-sub {
  margin-left: 100px;
}
.abt-sub1 {
  margin-right: 100px;
}

#about2 img,
#about3 img,
#about4 img {
  width: 100%;
  height: 100%;
  bottom: -20px;
  left: 50px;
  object-fit: cover;
  transform: scaleX(1);
  overflow-clip-margin: content-box;
  overflow: clip;
}
@media (max-width: 750px) {
  article.about-x div {
    min-width: 300px;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    display: block;
  }

  /* Center your text */
  #aboout-group h4 {
    text-align: center;
  }

  /* Center your image */
  #about2 img,
  #about3 img,
  #about4 img {
    margin: auto;
    left: inherit;
    bottom: inherit;
  }

  #about3 {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  #about3 div:first-of-type {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
  }
}
.card-container {
  width: 100%;
}
.card-container .row-card {
  width: 80%;
  margin: auto;
}

.card-container .row-card .header-abt h1 {
  font-size: 35px;
  font-weight: 600;
  color: #191919;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content .card {
  flex: 1;
  margin: 50px 20px;

  background-color: white;
}
.content .card img {
  width: 100%;
  height: auto;
}
.about-sub3 {
  padding: 16px;
}
.about-sub3 h4 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.about-sub p {
  color: #666;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
}
.pr-banner {
  background: url(../src/assets/1014.jpg);
  position: relative;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.pr-banner h1 {
  font-size: 3rem;
}
.sara-bg {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: #fbe9e9;
  overflow: hidden;
  position: relative;
}
.sara-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 55%;
}
.sara-1 h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.sara-1 p {
  font-weight: 400;
  padding-bottom: 20px;
}
.sara-1 a {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  text-transform: uppercase !important;
  cursor: pointer;
}
.sara-1 img {
  margin-right: 75px;
  margin-left: 200px;
  height: 150px;
}
.sara-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 45%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: #ff0000;
  border-radius: 50% 0 0 50%;
  position: relative;
}
.sara-2 img {
  padding-bottom: 200px;
  height: 500px;
}
.rc-bg {
  height: 80vh;
  width: 100%;
  display: flex;
  background-color: #e9f7fb;
  overflow: hidden;
  position: relative;
}
.rc-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 55%;
  padding-left: 150px;
}
.rc-1 h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.rc-1 p {
  font-weight: 400;
  padding-bottom: 20px;
}
.rc-1 a {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  text-transform: uppercase !important;
  cursor: pointer;
}
.rc-1 img {
  margin-right: 75px;
  margin-left: 50px;
  height: 150px;
}
.rc-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 45%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: #91daf5;
  border-radius: 0 50% 50% 0;
  position: relative;
}
.rc-2 img {
  padding-bottom: 150px;
  height: 450px;
}
.afweb-bg {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: #cfcfcf;
  overflow: hidden;
  position: relative;
}
.afweb-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 55%;
}
.afweb-1 h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
.afweb-1 p {
  font-weight: 400;
  padding-bottom: 20px;
}
.afweb-1 a {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  text-transform: uppercase !important;
  cursor: pointer;
}
.afweb-1 img {
  margin-right: 75px;
  margin-left: 75px;
  width: 250px;
}
.afweb-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 45%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: #918e8e;
  border-radius: 50% 0 0 50%;
  position: relative;
}
.afweb-2 img {
  margin-left: 30px;
  width: 90%;
}
.act-banner {
  background: url(../src/assets/pexels-christina-morillo-1181211.jpg);
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  color: white;
  text-align: left;
}
.act-lien {
  display: grid;
}
.act-lien a {
  color: white;
  text-decoration: none;
}
.act-info1 {
  padding-left: 100px;
  padding-bottom: 75px;
}
.act-info1 h1 {
  font-weight: 200;
  font-size: 4rem;
}
.btncp {
  padding: 15px 25px;
  width: max-content;
  color: white;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s;
  background-size: 200% auto;
  margin-bottom: 10px;
  text-decoration: none;
}

.btncp:hover {
  background-position: right center;
}

.btnx {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}

.btncp.btnx a {
  text-decoration: none;
  color: white;
}
.container-act {
  height: 70vh;
  background: #23395d;
  color: white;
}

.row-act {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.act-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 350px;
  height: 150px;
  margin: 10px;
}
.act-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 200px;
  margin: 10px;
}
.act-img img {
  width: 100px;
  padding-right: 25px;
}
.act-img2 img {
  width: 90px;
  padding-right: 25px;
}
.container-act h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 50px 100px 0 100px;
}
.row-act h4 {
  font-size: 1.5rem;
}
