@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;

  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.left {
  display: flex;
  align-items: center;
}
.text-left {
  margin-left: 10px;
}
.text-left a {
  color: #fff;
}

.speaker {
  padding: 10px 20px;
  background-color: #2b4a9e;
}
.right {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  float: left;
  width: 75px;
  height: auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.nav-list li {
  margin: 0;
}

.nav-list a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s;
}

.items :hover {
  color: #68a6e4;
}
.nav-icon {
  margin-left: 8px;
  max-width: 10%;
}

.items,
.dropdown-parent {
  margin-right: 25px;
}

.dropdown-parent:hover .dropdown {
  display: block;
  transition: display 0s, opacity 5s ease-out; /* Display immediately, fade out over 0.5s */
  opacity: 1;
}
.dropdown-parent :hover {
  color: #68a6e4;
  border-bottom: 2px solid #1976d2;
}
.dropdown {
  list-style: none;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin-top: 25px;
  width: 200px;
  /* Set auto height */
  max-height: none;
  /* or specific height if needed */
}

.dropdown li {
  margin: 10px 0;
  transition: transform 0.3s ease; /* Smooth transition for text movement */
}

.dropdown-parent:hover .dropdown li {
  transform: translateX(-10px); /* Move text to the left on hover */
}
.dropdown-parent:hover,
.dropdown:hover {
  color: #3498db; /* Blue color on hover for text */
}
.dropdown li a {
  display: block;
  text-decoration: none;
  color: #626161;
}

.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.number {
  margin-right: 50px;
}
.number p {
  padding-left: 25px;
}
.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loop {
  border-left: 1px solid lightgrey;
  padding: 25px;
  color: #000000;
}
.search {
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  border-radius: 5px;
  color: #fff;
  padding: 6px 18px;
  text-align: center;
}
.home-info {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/pexels.png") left no-repeat,
    url("../src/assets/pexels2.png") right no-repeat;
}

.home-text {
  display: grid;
  margin-right: 150px;
}
.home-text h4 {
  color: #355dcd;
}
.home-text h1 {
  font-weight: 600;
  font-size: 50px;
}
.home-text p {
  color: rgb(88, 86, 86);
}
.home-text h2 {
  font-weight: 300;
  font-size: 50px;
}
.main-pic {
  padding-top: 50px;
}
.main-pic img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.home-btn {
  margin-top: 125px;
  display: flex;
  align-items: center;
}
.home-btn a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #2b2929;
  border-radius: 5px;
  color: #fff;
  margin-right: 40px;
}
.play {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  margin-right: 25px;
}
.home-btn p {
  color: #355dcd;
}
.service {
  height: 90vh;
  margin: 0 100px 0 100px;
  border-radius: 10px;
  background: url("../src/assets/shap1.png") bottom left no-repeat,
    linear-gradient(to right, #3c8ce7, #00eaff);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: balance;
}

.service-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(115, 169, 210);
  width: 1000px;
}

.service-main {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}
.service-info {
  color: white;
  width: 1000px;
}

.service-info h3 {
  font-weight: 400;
  font-size: 1.4em;
}

.service-info p {
  margin-top: 20px;
  font-size: 0.9rem;
}

.service-info1 {
  margin-left: 200px;
  color: white;
}

.sub-info {
  margin-top: 20px;
  color: #d4defd;
}

.service-info1 button {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 0.9rem;
  font-weight: 200;
}

.attributes {
  display: flex;
  max-width: 1000px;
  margin-top: 100px;
  color: white;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
span.num {
  width: 70px;
  font-size: 1.8em;
  font-weight: 600;
}
.ad {
  font-size: 2em;
  font-weight: 600;
}

.sub p {
  margin: 0 10px;
  font-size: 0.8rem;
  font-weight: 200;
}

@media (max-width: 768px) {
  /* Adjust for smaller screens */
  .service {
    flex-direction: column-reverse; /* Reverse layout for better flow */
  }

  .attributes {
    margin-bottom: 50px; /* Add bottom margin for spacing */
  }
}

.solux {
  background: url("../src/assets/shap1.png") bottom left no-repeat,
    url("../src/assets/shap2.png") top right no-repeat;
}

.solution-box {
  display: grid;
  justify-content: center;
  height: 90vh;
}

.solution-cart1,
.solution-cart2 {
  display: flex;
}

.solution-info {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: -300px;
  margin-top: 30px;
}

.solution-info h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #235cfa;
  margin-bottom: 25px;
}

.solution-info p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 25px;
}

.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-sub .sub-head h6 {
  font-size: 1.3rem;
  font-weight: 510;
}

.solution-sub .sub-head p {
  color: rgb(4, 159, 249);
}

.solution-sub {
  width: 300px;
  height: 225px;
  margin: 10px;
  padding: 25px;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 15px;
  background-color: white;
}

.solution-sub img {
  max-height: 50px;
  width: 50px;
  padding: 25px 0px;
}

.solution-sub button {
  color: #5a5b5e;
  background: #ebedf5;
  margin: 0px 5px;
  padding: 5px 20px;
  border-radius: 5px;
  border: #aa9d9d;
  font-size: 0.7rem;
}

.solution-sub p {
  font-size: 0.8rem;
  color: #676769;
}

.solution-btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.solution-sub:hover {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 1px 1px 50px rgba(143, 143, 143, 0.5);
}

.sup-abs {
  display: flex;
  height: 100vh;
}

.conversion-left {
  margin: 0 auto;
}
.ch2 {
  display: block;
  position: absolute;
  left: 0;
  width: 50%;
  height: 65%;
  margin-top: 90px;
  animation-name: infiniteudown;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
@keyframes infiniteudown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ch3 {
  width: 80%;
  height: auto;
  margin-right: 100px;
  animation-name: infiniteupdown;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}
@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ch1 {
  position: absolute;

  width: 50%;
  height: 10 0%;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.conversion-right {
  display: grid;
  justify-content: center;
  align-items: center;
}
.conversion-sub h1 {
  font-weight: 600;
}
.conversion-right h4 {
  color: #355dcd;
  font-weight: 600;
}
.conversion-sub h2 {
  font-weight: 300;
  font-size: 2rem;
}
.check-icon {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #3c8ce7, #00eaff);
  font-size: 3px;
  border-radius: 50%;
  padding: 5px;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.conversion-right p {
  color: #524f4f;
}
.btnco {
  padding: 15px 25px;
  margin-right: 300px;
  color: white;
  border: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s; /* Specify transition property */
  background-size: 200% auto;
  margin-bottom: 10px;
}

.btnco:hover {
  background-position: right center; /* Shift the gradient to the left by 200% */
}
.btng {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}

.portfolio-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../src/assets/shap_l.png") bottom left no-repeat,
    #e3e8f5 url("../src/assets/shap_r.png") top right no-repeat;
  background-size: auto, 350px 250px;
}

.portfolio-text {
  margin-left: 200px;
  padding: 35px;
}
.portfolio-text h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4573f1;
}
.portfolio-text p {
  font-size: 25px;
  font-weight: 400;
}
.portfolio-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.portfolio-child img {
  width: 1050px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
.portfolio-subtext {
  display: grid;
  background-color: rgb(253, 253, 253);
  padding: 25px;
  border-radius: 0px 0px 5px 5px;
}
.portfolio-subtext h3:hover {
  color: #0580fc;
}
.portfolio-subtext h6 {
  color: #0580fc;
  margin-top: 5px;
  font-weight: 500;
  font-size: 0.7rem;
}
.portfolio-subtext p {
  padding: 25px 0px;
  color: #39393b;
  font-size: 0.85rem;
}
.chev {
  margin: 50px;
  color: #2b4a9e;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
}
.port-btn {
  display: flex;
}
.port-btn button {
  margin-right: 5px;
  font-size: 0.75rem;
  padding: 0px 10px;
  color: #5a5b5e;
  background: #ebedf5;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 5px;
}
.profil-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 53vh;
  margin: 100px 0px;
}
.profil-text {
  display: grid;
  justify-content: center;
  align-items: center;
}
.profil-text h4 {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: #235cfa;
}
.profil-text p {
  font-size: 2rem;
}
.profil-cart {
  padding: 35px;
}
.profil-pics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil-pics img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.profil-cart-text {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.profil-cart-text p {
  color: #959699;
}

.icon-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.profil-icon {
  color: #6c6c6c;
  padding: 5px;
  border-radius: 50%;
  background: rgb(234, 234, 232);
}
.profil-icon:hover {
  background-image: linear-gradient(
    to right,
    #3c8ce7 0%,
    #00eaff 51%,
    #3c8ce7 100%
  );
}
.profil-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil-btn button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}
.black {
  background: #000000;
}
.profil-cart:hover {
  color: #1976d2;
}
.blue {
  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.footer-main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url("../src/assets/foot_l.png") bottom left no-repeat,
    #040404 url("../src/assets/foot_r.png") top right no-repeat;
  background-size: 250px 200px, 250px 150px;
  font-size: 0.8rem;
}
.main-foot1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact img {
  margin-bottom: 25px;
  width: 75px;
  height: auto;
}
.footer-contact {
  display: grid;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  color: white;
  margin: 50px;
}
.footer-services {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  color: white;
  margin: 50px;
}
.footer-info {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px;

  height: 300px;
  color: white;
}
.footer-newsl {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-left: 25px;
  color: white;
  margin-bottom: 100px;
}
.main-foot2 {
  text-align: center;
  color: white;
  margin: 0px 150px;
  margin-top: 50px;
  padding: 20px;
  border-top: 0.01em solid rgb(66, 65, 65);
}
.main-foot2 a {
  color: white;
}
.footer-main h5 {
  font-size: 1rem;
  font-weight: 800;
}
.footer-main h6 {
  font-size: 1rem;
  font-weight: 600;
}
.footer-main p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6b6a6a;
}
.foot-icon {
  padding: 10px;
  border-radius: 50%;
  background: #2b2929;
  margin: 5px;
  color: #524f4f;
}
.foot-cnt-sub {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.sub-ctn-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.pro-icon {
  padding-right: 10px;
  color: #0892fb;
}
.footer-newsl a {
  color: #666666;
}
.subscribe-container input {
  padding: 10px 25px;
  background: #323131;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid transparent;
}
.subscribe-input::placeholder {
  color: white;
}

.subscribe-button {
  padding: 10px 15px;

  border-radius: 0px 5px 5px 0px;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #3c8ce7, #00eaff);
}
.contact-general {
  text-align: center;
  background: url("../src/assets/contact_globe-2.svg") bottom left no-repeat,
    linear-gradient(to right, #3c8ce7, #00eaff);
  height: 70vh;
  padding-top: 95px;
  color: white;
}
.contact-general h6 {
  font-size: 0.8rem;
  font-weight: 600;
}
.contacto p {
  font-size: 1.8rem;
}
.contact-sub {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.contact-info {
  display: grid;
  text-align: left;
  color: white;
}
.contact-info a {
  color: white;
}
.area {
  display: grid;
  justify-content: flex-start;
}
.contact-info1 {
  margin-bottom: 25px;
}
.contact-link {
  margin-top: 75px;
}
.contact-info p {
  padding-top: 25px;
}
.contact-area form {
  display: flex;
  flex-direction: column;
}
.area1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.area1 input {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
.inquiry-wrapper {
  display: flex;
  justify-content: left;

  margin-bottom: 10px;
}
.inquiry-wrapper input {
  border: none;
  border-radius: 5px;
  padding: 10px 150px;
}
textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
button {
  background-color: #040404;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  margin-right: 300px;
  margin-top: 10px;
}
